<?xml version='1.0' encoding='utf-8'?>
<widget id="net.tutorweb.quiz" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TutorWeb Quiz</name>
    <description>
        Android wrapper for the Tutor-Web quiz client, https://github.com/tutor-web/tutorweb.quiz
    </description>
    <author email="jamie.lentin@shuttlethread.com" href="http://www.tutor-web.net/">
        Tutor-Web
    </author>
    <content src="start.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />
    <preference name="ScrollEnabled" value="false" />
    <preference name="Hostname" value="tutorweb-quiz-app" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="36" />
    <preference name="AndroidXEnabled" value="true" />
    <preference name="Orientation" value="default" />
    <platform name="android">
        <allow-intent href="market:*" />
        <engine name="android" spec="^15.1.0" />
    </platform>
</widget>
